<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <script src='/javascripts/jquery-3.2.1.min.js'></script>
    <script src="/javascripts/post_image.js"></script>
  </head>
  <body>
  	<button id="btn_get">
  		获取图片
  	</button>
    <div id="contain"></div>
  </body>
</html>
